<a8-header contentTitle="Users"> </a8-header>
<div class="container wrapper">
    <div class="row">
        <!-- User table -->
        <div class="col-md-12">
            <div class="inner">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">User Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <!-- <th scope="row">{{user._id}}</th> -->
                            <td>{{user.userName}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td>
                                <!-- <button type="button" class="btn btn-success btn-sm move-right" [routerLink]="['/edit-User/', Users.id]">Edit</button> -->
                                <button type="button" class="btn btn-danger btn-sm" (click)="deleteIusse(Users)">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>