<a8-header contentTitle="Add New User"> </a8-header>
<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <form class="example-form" [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate>
                <mat-form-field>
                    <input matInput formControlName="userName" placeholder="User Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="phone" placeholder="Phone No">
                </mat-form-field>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>