<div class="toolbar" role="banner">
  <span>Demo Angular 8</span>
  <mat-tab-group>
    <mat-tab label="Home">
    </mat-tab>
    <mat-tab label="Contact">
   </mat-tab>
  </mat-tab-group>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>
    <div class="content" role="main">
      <easy-date titleInput='Input your date:'></easy-date>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

