<div class="toolbar" role="banner">
  <span>Demo Angular 8</span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>
</div>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>
    <div class="content" role="main">
      <easy-date titleInput='Input your date:'></easy-date>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>